version: '3.8'

services:
  flask_app:
    build:
      context: .
      dockerfile: Dockerfile.flask
    container_name: flask_container
    ports:
      - "8000:8000"
    networks:
      - app_network
    
  php_app:
    build:
      context: .
      dockerfile: Dockerfile.php
    container_name: php_container
    command: php -S 0.0.0.0:5000 -t /var/www/html
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
