version: '3.7'

services:
  router01:
    build:
      context: .
      dockerfile: Dockerfile.router01
    networks:
      dreamhack_net:
    cap_add:
      - NET_RAW
      - NET_ADMIN        

  router02:
    build:
      context: .
      dockerfile: Dockerfile.router02
    ports:
      - "22:22"
    networks:
      dreamhack_net:
    cap_add:
      - NET_RAW
      - NET_ADMIN

networks:
  dreamhack_net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.0.0/24
          gateway: "192.168.0.254"

